.Footer
	.container
		.row
			.col-12.col-lg-3
				.FooterBlock.Footer_menuBlock
					h3.BlockTitle.FooterBlock_title MonteSale
					.SecondaryMenu
						ul.SecondaryMenu_list
							li.SecondaryMenu_item Телефон:
								a(href="tel:+38267214405").SecondaryMenu_link +382 67 214 405
							li.SecondaryMenu_item Телефон:
								a(href="tel:+79036281146").SecondaryMenu_link +7 903 628 11 46
							li.SecondaryMenu_item
								a(href="mailto:777juli@mail.ru").SecondaryMenu_link 777juli@mail.ru
			.col-12.col-lg-3
				.FooterBlock.Footer_menuBlock
					h3.BlockTitle.FooterBlock_title Информация
					.SecondaryMenu
						ul.SecondaryMenu_list
							li.SecondaryMenu_item
								a(href="/rent.html").SecondaryMenu_link Аренда Жилья
							li.SecondaryMenu_item
								a(href="#").SecondaryMenu_link Посуточная
							li.SecondaryMenu_item
								a(href="#").SecondaryMenu_link Круглый год
							li.SecondaryMenu_item
								a(href="#").SecondaryMenu_link Всё лето
							li.SecondaryMenu_item
								a(href="/property.html").SecondaryMenu_link Недвижимость
			.col-12.col-lg-3
			.col-12.col-lg-3
				.PaymentMethods.FooterBlock.Footer_paymentMethods
					h3.BlockTitle.FooterBlock_title Варианты оплаты
					.PaymentMethods_content
						img(src="/img/payment-methods.webp" alt="Payment Methods").PaymentMethods_img
			.col-12
				.Copyright © 2020 MonteSale все права защищены