.MobileSidebar.offcanvas.offcanvas-start#MobileSidebar
	button(type="button" data-bs-dismiss="offcanvas" aria-label="Close").MobileSidebar_closeBtn
		i.fa.fa-times
	.Langs.MobileSidebar_langs
		ul.Langs_list
			li.Langs_item
				a(href="#").Langs_link
					img(src="/img/lang/gb.webp").Langs_icon
			li.Langs_item
				a(href="#").Langs_link
					img(src="/img/lang/mne.webp").Langs_icon
			li.Langs_item
				a(href="#").Langs_link
					img(src="/img/lang/ru.webp").Langs_icon
			li.Langs_item
				a(href="#").Langs_link
					img(src="/img/lang/tr.webp").Langs_icon
	.MobileMenu.MobileSidebar_menu
		ul.MobileMenu_menu
			li.MobileMenu_item.MobileMenu_item-parent
				a(href="/rent.html").MobileMenu_link Аренда Жилья
				ul.MobileMenu_subMenu
					li.MobileMenu_item
						a(href="#").MobileMenu_link Посуточная
					li.MobileMenu_item
						a(href="#").MobileMenu_link Круглый год
					li.MobileMenu_item
						a(href="#").MobileMenu_link До сезона
			li.MobileMenu_item
				a(href="/sale.html").MobileMenu_link Недвижимость
			li.MobileMenu_item
				a(href="#").MobileMenu_link Веб-камера
			li.MobileMenu_item
				a(href="/contacts.html").MobileMenu_link О нас