extends layouts/base-contacts

block content
  .ContactsPage
    .container
      .row
        .col-12
          h1.ContactsPage_title MonteSale
      .ContactsPage_imgWrapper
        img(src="/img/budva-bg.webp" alt="Budva").ContactsPage_img
      .ContactsPage_mainWrapper
        .ContactsPage_textWrapper
          h2.ContactsPage_subTitle Мы стремимся и развиваемся
          .ContactsPage_text
            p Наша компания MonteSale всегда старается максимально удовлетворить запросы любого клиента, приезжающего в Черногорию. Наши сотрудники имеют большой опыт работы в недвижимости, юридических вопросах, иммиграции, а также предоставлению различных видов услуг, с которыми Вы можете ознакомиться на нашем сайте. Всегда будем рады оказать помощь в любых вопросах, касающихся Вашего нахождения на территории Черногории. Ждем Вас в этой красивой теплой и солнечной стране.
        .Contacts.ContactsPage_contacts
          h4.Contacts_title Телефон для связи
          ul.Contacts_list
            li.Contacts_item
              a(href="tel:+38267214405").Contacts_phone +382 67 214 405
            li.Contacts_item
              a(href="mailto:777juli@mail.ru").Contacts_link 777juli@mail.ru