font-face('Museo Sans Cyrl 500', '../fonts/MuseoSansCyrl/subset-MuseoSansCyrl-500')
font-face('Textbook New Web', '../fonts/TextbookNew/subset-TextbookNewWeb-Regular')
font-face('Textbook New Web', '../fonts/TextbookNew/subset-TextbookNewWeb-Light', 300)
font-face('Textbook New Web', '../fonts/TextbookNew/subset-TextbookNewWeb-Bold', bold)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Regular')
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-LightItalic', 300, italic)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Bold', bold)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Light', 300)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Medium', 500)