// Local color variables
$black = #000
$white = #fff

$dark = #414141

$blue = #009ece
$light-blue = #eaf0f7
// $dark-blue = #62748F
$dark-blue = #445A8C
$dirty-blue = #8593a9

$dark-lilac = #614cd9
$purple = #b881fc

$green = #00aa64
$light-green = #58b236

// $grey = #9DA5B9
$grey = #727682
$light-grey = #f2f3f3

$brown = #beb0b0
$dark-brown = #919191
$pastel = #c4a7b3


// Global color variables
$primary = $dark
$secondary = $grey
$light = $white

$info = $blue
$info-light = $light-blue
$info-dark = $dark-blue

$success = $green
$success-light = $light-green

$border-color = $light-grey

$object-text-shadow-color = $black
$object-shadow-color = rgba(33, 33, 33, 20%)
$object-link = $brown
$object-link-hover = $dark-lilac
$object-characteristic-color = $dark-brown
$object-id-color = $pastel

$main-wrapper-shadow-color = rgba(0, 0, 0, 20%)
$mobile-sidebar-bg = $black
$mobile-menu-link-hover-bg = $purple
$mobile-menu-border-color = #576871

$filter-link = $dirty-blue

// $grey = #6a6a6a
// $dark-grey = #727682
// $dark-grey2 = #6f6c6c

// Font variables
$base-font = 'Museo Sans Cyrl 500', sans-serif

// START: layout vars
$xs = '(max-width: 575px)'
$sm = '(min-width: 576px) and (max-width: 767px)'
$smPlus = '(min-width: 576px)'
$md = '(min-width: 768px) and (max-width: 991px)'
$mdPlus = '(min-width: 768px)'
$lg = '(min-width: 992px) and (max-width: 1199px)'
$lgPlus = '(min-width: 992px)'
$xl = '(min-width: 1200px) and (max-width: 1399px)'
$xlPlus = '(min-width: 1200px)'
$xxl = '(min-width: 1400px)'
