.AdvantageBox
  width 181px
  padding 22px 13px 21px 22px
  border-radius 10px
  background $light
  font-family $textbook-new-web

  &_iconWrapper
    margin-bottom 11px
    text-align center
  
  &_title
    margin-bottom 4px
    font-weight 700
    font-size 18px
    line-height 1.23
  
  &_text
    font-size 13px
    line-height 1.2308

    & > p
      &:last-child
        margin-bottom 0