.Legalization
  padding-bottom 35px
  font-family $textbook-new-web
  
  &_title
    margin-bottom 15px

  &_imgWrapper
    margin-bottom 18px
    text-align center

  &_text
    color $secondary
    font-size 15px
    line-height 1.2667
  
  &_btnWrapper
    text-align center