.LegalizationPage
  padding-top 12px
  background $main-wrapper-bg

  &_breadcrumbs
    margin-bottom 12px
  
  &_applicationForm
    margin-right -17px
    margin-left -17px

    @media $mdPlus
      margin-right auto
      margin-left auto