.MobileMenu
	&_menu,
	&_subMenu
		list-style none
		padding-left 0
	
	&_item
		&-hasChild
			& > .MobileMenu_link
				position relative
				
				&:after
					content "\f107"
					position absolute
					right 15px
					font-family FontAwesome
		
	&_link
		display block
		padding 15px 20px 15px 30px
		border-bottom 1px solid $mobile-menu-border-color
		color $light
		font-size 13px
		line-height 1.53846
		text-decoration none
		
		&:hover,
		&:focus
			color $light
			background $mobile-menu-link-hover-bg
	
	&_subMenu
		.MobileMenu_link
			padding-left 45px
			line-height 0.6