.ObjectCards
	&_title
		margin-bottom 50px
		margin-left 15px
		text-align center
		font-size 28px
	
	&_col
		margin-bottom 30px
		
		&:last-child
			margin-bottom 0
	
	&_bottom
		margin-top 14px
		text-align center
	
	&-objectsPage
		.ObjectCards_bottom
			margin-top 40px
			
			@media $smPlus
				margin-top 20px