.SectionTitle
  color $primary
  font-weight 700
  font-size 22px
  line-height 1.2273
  font-family $textbook-new-web

  &-small
    font-size 19px
    line-height 1.2105
  
  &-center
    text-align center