.Stock
  display grid
  grid-template-columns 100%
  justify-items stretch
  padding-top 43px
  padding-bottom 27px
  font-family $textbook-new-web
  
  &_imgWrapper
    margin-bottom 14px
    text-align center
  
  &_offer
    margin-bottom 12px
    color $danger
    font-size 19px
    line-height 1.2105
  
  &_description
    margin-bottom 23px
    font-size 15px
    line-height 1.2667
    color $secondary
  
  &_orderBtn
    justify-self center