.swiper-button-prev
.swiper-button-next
	&:after
		font-size 1.733em
		font-weight 700
		color $light
		text-shadow 2px 2px 5px $primary

.swiper-lazy-preloader
	width 64px
	height 64px
	margin-top -32px
	margin-left -32px
	border none
	animation none
	background url('../img/realestate_loading.gif')